<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body onload="deepak()">
    
    <div class="navbaar">
        <ul class="navbaar-li">
        <div class="logo">
        <li class="list" ><img src="/images/logo.png" id="logo" alt=""></li>
    </div>
    <input type="text" class="nav-inp"><button class="nav-btn">Search</button>
    <!-- <a href="/user"><img src="/images/user.png" class="nav-i" alt=""></li></a> -->
    <div class="toggle-cart">
    
    <header class="my-cart">
    <div class="cart-box">
      <div class="cart-icon">
       <img src="/images/crt.png" class="crt-logo" alt="" onclick="myFunction()"><p class="cart-counting"><%=number%></p>
      </div>
      </div>
      <div class="whole-cart-window " id="myDIV">
      <div class="cart-wrapper-tot">
      <div class="cart-wrapper">
        
      </div>
         
            <a href="/checkout"><div class="checkout">Checkout</div></a>
            <div class="view-cart">View Cart</div>
            </div>
      </div>
    </header>
    
    </div>
    </ul>
    </div><hr>
    <div class="nav-two">
        <a href="/" class="list-a"><li class="listt">Home</li></a>
        <a href="/" class="list-a"><li class="listt">Kurti</li></a>
        <a href="/tradinational" class="list-a"><li class="listt">Tradinational</li></a>
        <a href="/saari" class="list-a"> <li class="listt">Saari</li></a>
        <a href="/contact" class="list-a"> <li class="listt">Contact</li></a>
        </div>
    <div class="hidding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, perspiciatis saepe, libero, iste unde nobis quia culpa quasi harum dolores ut soluta! Laborum neque dolorem, libero deleniti vel iusto tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ipsum maiores et rem aliquam. Delectus recusandae modi maxime quis omnis, iure ipsam ad dolore aspernatur laudantium veniam ducimus repellendus necessitatibus minima excepturi, accusamus nihil? Quaerat fuga dolores quam itaque quis quae possimus mollitia placeat totam! Eum ab beatae, perferendis consectetur excepturi tenetur ullam. Illo perspiciatis, sapiente laborum praesentium voluptates beatae provident vel laudantium id eius suscipit possimus consectetur asperiores ipsam deserunt neque dolores atque obcaecati magnam ex, nulla cum? Vel possimus, ipsum qui corporis necessitatibus nesciunt maxime fugiat, cupiditate doloremque deserunt a iure vitae repellendus tenetur! Odio provident doloremque repellendus!</div>
    <div class="btn">
    <button class="shop-now">Shop Now</button>
    </div>
    <section class="product">
        <h2 class="containor-cetogry">Best Selling Saari</h2>
       <button class="pre-btn"><img src="/images/arroww.png" class="arrow" alt=""></button>
       <button class="next-btn"><img src="/images/arroww.png" class="arrow" alt=""></button>
       <a href="" class="a-view-all"><h3 class="view-all">View All</h3></a> 
       <div class="product-container">
        <%data.forEach((element)=> {%>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">
                        50% Off
                    </span>
                    <img onclick="singleProduct('<%=element.id%>')" src="<%=element.imgsrc[0]%>" class="product-thumb" alt="">
                    <button class="wish-list"><img src="/images/heart.png" style="width: 14px" alt=""> Add To
                        Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="brand">BRAND</h2>
                    <p class="discription">A Short Line About This Drees</p>
                    <h2 class="price"><%=element.price%> <div class="actual-price">Rs 1600/-</h2>
                </div>
            </div> 
            <%})%>  
        </div>
    </section>
    <div class="collection-of-img">
        <div class="women-collection">
              <h2 class="women-heading">Women</h2>
              <a href=""><img src="/images/navbefoo.jpg" alt="" class="women-img"></a>
        </div>
        <div class="men-collection">
            <h2 class="men-heading">Men</h2>
            <a href=""><img src="/images/men.jpg" alt="" class="men-img"></a>
      </div>
    </div>
      <div class="acceseries-collection">
        <h2 class="acessecaries-heading">Accesaries</h2>
        <a href=""><img src="/images/acceceries.jpg" alt="" class="acessecaries"></a>
    </div>
    
    <footer class="footer">
    
    </footer>
    <script>
        var show=<%-JSON.stringify(list)%>;
        // var number=<%-JSON.stringify(number)%>
        // console.log(a);
        </script>
    
    <script src="/js/home.js"></script>
    <script src="/js/saari.js"></script>
    <script src="/js/navbaar.js"></script>
    <script src="/js/product.js"></script>
    <script src="/js/footer.js"></script>
</body>
</html>